@import "includes";

.container {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.title {
  margin: 0;
  font-size: 2.8rem;
  line-height: 3.2rem;

  @include fromLarge {
    font-size: 9rem;
    line-height: 10.3rem;
  }
}

.subtitle {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;

  @include fromLarge {
    font-size: 2.1rem;
  }
}

.separator {
  margin: 0 1rem;
}

.location {
  color: var(--text-color);
  text-decoration: underline;
}
