@import "includes";

.container {
  overflow: hidden;
  margin-bottom: 3rem;
  @include grid-column-span(3);
  display: flex;
  flex-direction: column;

  @include fromLarge {
    @include grid-column-span(4);
    margin-bottom: 6rem;
  }
}

.thumbnail {
  box-sizing: border-box;
  overflow: hidden;
  border: solid 0.5rem var(--tertiary-color);
  width: 100%;
  height: 10rem;
  margin-bottom: 1.3rem;
  transition: all 0.2s;
  cursor: pointer;
  position: relative;

  @include fromLarge {
    border: solid 1rem var(--tertiary-color);
    width: grid-custom-column-desktop(4);
    height: grid-custom-column-desktop(4);
    margin-bottom: 2.4rem;
  }

  &:hover {
    border: solid 2rem var(--secondary-color);
  }

  img {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.title {
  font-weight: $font-bold;
  font-family: $font-sans-serif;
  color: $color-givry;
  line-height: 1;
  font-size: 1.4rem;
  margin-top: auto;
  margin-bottom: 0.6rem;

  @include fromLarge {
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
  }
}

.tag {
  font-size: 1.2rem;
  line-height: 1;
  font-family: $font-sans-serif;
  color: $color-givry;
  margin: 0;

  @include fromLarge {
    font-size: 2.1rem;
  }
}
