@import "includes";

.container {
  overflow: hidden;
  margin-bottom: 30px;
  width: grid-custom-column(3);

  @include fromLarge {
    width: grid-custom-column-desktop(4);
    margin-bottom: 60px;
  }
}

.thumbnail {
  box-sizing: border-box;
  overflow: hidden;
  border: solid 10px #fff;
  width: grid-custom-column(3);
  height: grid-custom-column(3);
  margin-bottom: 13px;
  transition: all 0.2s;
  cursor: pointer;
  position: relative;

  @include fromLarge {
    border: solid 10px #fff;
    width: grid-custom-column-desktop(4);
    height: grid-custom-column-desktop(4);
    margin-bottom: 24px;
  }

  &:hover {
    border: solid 20px #e36840;
  }

  img {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.title {
  font-weight: $font-bold;
  font-family: $font-sans-serif;
  color: $color-givry;
  line-height: 1;
  font-size: 14px;
  margin: 0 0 6px 0;

  @include fromLarge {
    font-size: 28px;
    margin: 0 0 15px 0;
  }
}

.tag {
  font-size: 12px;
  line-height: 1;
  font-family: $font-sans-serif;
  color: $color-manhattan;
  margin: 0;

  @include fromLarge {
    font-size: 21px;
  }
}
