@import "includes";

.container {
  @include grid;
  padding-top: 10.5rem;
  width: 100%;
  margin-bottom: 35rem;

  @include fromLarge {
    padding-top: 7rem;
    margin-bottom: 18rem;
  }
}

.logo {
  @include grid-column-start(1);
  @include grid-column-span(4);

  h1 {
    font-weight: $font-light;
    margin: 0;
    font-size: 13.5rem;
    line-height: 1.13;
    letter-spacing: -0.1rem;
    color: #f6c0aa;
    font-family: "Playfair Display", serif;
  }

  @include fromLarge {
    @include grid-column-start(1);
    @include grid-column-span(6);

    h1 {
      display: inline-block;
      font-size: 7.1rem;
      line-height: 1.09;
      width: grid-custom-column(2);
    }
  }
}

.subtitle {
  width: 82%;
  margin: 4.1rem 0 0 0;
  font-family: Helvetica;
  font-size: 5.59rem;
  line-height: 1.4;
  color: #f6c0aa;
  font-weight: 300;
  letter-spacing: -0.06rem;
  word-spacing: -0.41rem;

  @include fromLarge {
    font-size: 2.1rem;
    letter-spacing: -0.01rem;
    word-spacing: -0.005rem;
    margin-top: 2.8rem;
  }
}

.button {
  @include grid-column-start(5);
  @include grid-column-span(2);

  margin-top: 5.5rem;
  background-color: #e36840;
  color: #f6c0aa;
  font-family: Helvetica;
  font-size: 5rem;
  height: 15rem;
  width: grid-custom-column(2);
  max-width: grid-custom-column(2);
  display: flex;
  align-items: center;
  justify-content: center;

  @include fromLarge {
    @include grid-column-start(11);
    @include grid-column-span(2);

    width: grid-custom-column-desktop(2);
    max-width: grid-custom-column-desktop(2);
    margin-top: 1.6rem;
    font-size: 2rem;
    height: 6.3rem;
  }
}
