@import "includes";

.container {
  @include grid-column-start(1);
  @include grid-column-span(6);

  @include fromLarge {
    @include grid-column-start(1);
    @include grid-column-span(12);
  }
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.citys {
  margin-bottom: 5rem;

  a {
    color: #f9d9ce;
    font-size: 9.5rem;
    word-spacing: -0.41rem;
    letter-spacing: -0.06rem;
    font-family: Helvetica;
    font-weight: $font-bold;
    text-decoration: none;

    @include fromLarge {
      font-size: 4.5rem;
    }
  }

  @include fromLarge {
    margin-bottom: 2rem;
  }
}

.subtitle {
  font-family: Helvetica;
  font-size: 5.59rem;
  line-height: 1.4;
  color: #f6c0aa;
  font-weight: 300;
  letter-spacing: -0.06rem;
  word-spacing: -0.41rem;
  margin: 1rem 0 0 0;

  @include fromLarge {
    font-size: 2.1rem;
    letter-spacing: -0.01rem;
    word-spacing: -0.005rem;
    margin-top: 2.8rem;
    margin: 0.5rem 0 0 0;
  }
}
